{% extends "base.html" %}
{% block content %}
<legend class="border-bottom mb-4">Movie details</legend>
<span  vocab="http://schema.org/" typeof="Movie">
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <span property="name"> <b><a class="mr-2">{{ movie.movieName }}</a></b> </span>
                <span property="datePublished"><small class="text-muted">{{ movie.movieYear }}</small></span>
            </div>
            <img src="https://image.tmdb.org/t/p/original/{{movie.Mpic}}" width="200" height="300">           
            <div class="form-group">
                {% if movie.id in favorites %}
                    <small><a class="mr-2" href="/removefavorite/{{ movie.movieID }}">Remove favorite</a></small>
                {% else %}
                    <small><a class="mr-2" href="/addfavorite/{{ movie.movieID }}">+ Favorite</a></small>
                {% endif %}
                
            </div>
        </div>
    </article>
</span>
{% endblock %}