{% extends "base.html" %}
{% block content %}
    <legend class="border-bottom mb-4">{{ user.username }}</legend>
    <a class="mr-2">My favorite movies:</a>
    {% for favorite in favorites %}
        {% for movie in movies %}
            {% if favorite.movieID == movie %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="/details/{{ movie.movieID }}">{{ movie.movieName }}</a>
                        <small class="text-muted">{{ movie.movieYear }}</small>
                    </div>                                   

                    <img src="https://image.tmdb.org/t/p/original/{{movie.Mpic}}" width="200" height="300">      

                    <div class="form-group">
                        <a class="article-title">Favorite actor : {{ favorite.favActorID }}</a>  
                        <small><a class="ml-2" href="/editfavorite/{{ movie.movieID }}">Edit</a></small>  
                        <p><small><a class="mr-2" href="/removefavorite/{{ movie.movieID }}">Remove favorite</a></small> </p>
                    </div>
                </div>
              </article>  
            {% endif %}
        {% endfor %}      
    {% endfor %}
{% endblock %}